<div class="text-center">
  <h2>{{title}}</h2><br>
  <h4>{{article_description}}</h4><br>
  <p>By: {{user.user_name}}</p><br>
  <p>{{format_date date_created}}</p><br>
  <br>
  <br>
</div>
<div>
  <p>{{article_content}}</p><br>
  <br>
  <p>{{> comment post.comment}}</p>
</div>