<article>
    <a href="/dashboard" class="font-weight-bold"> &larr; Return to Dashboard</a>
    <h2 class="title">Edit This Article</h2>

    <form class="edit-article-form">
        <div>
            <label for="article-title">Title:</label>
            <input class= "input" type="text" id="article-title" name="article-title" value="{{article.title}}">
        </div>
        <div>
            <label for="article-description">Description:</label>
            <textarea class= "form-control mt-2" type="text" id="article-description" name="article-description" value="{{article.article_description}}"></textarea>
        </div>
        <div>
            <label for="article-content">Article Content:</label>
            <textarea class= "form-control mt-2" id="article-content" rows="8" name="article-content" value="{{article.article_content}}"></textarea>
        </div>
        <div>
            Created on {{format_date article.date_created}}
            |
            <a href="/article/{{article.id}}">{{article.comments.length}} {{format_plural "comment" article.comments.length}}</a>
        </div>
        <button type="submit" class="btn btn">Update</button>
        <button type="button" id="delete-post"class="btn btn">Delete</button>
    </form>
</article>

{{!-- {{> comment article.comment}} --}}

{{!-- <script src="/js/edit.js"></script>
<script src="/js/delete.js"></script> --}}